<h1>Merchant Discount Show Page</h1>

<p>Percentage Discount: <%= "#{@discount.bulk_discount*100}%" %></p>
<p>Item Threshold: <%= "#{@discount.item_threshold}" %></p>

<p><%= link_to "Edit Discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %></p>
